{{#if addNewAnswer}}
  <div>
    <form class="title-fix">
      <h1>New Answer</h1>
      <div class="form-group">
        <label for="content">Your Answer:</label>
        {{input value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="author">Username:</label>
        {{input value=author id="author"}}
      </div>

      <button class="btn btn-primary button" {{action 'save1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-primary btn-lg title-fix move-button"{{action 'answerFormShow'}}>Answer Question</button>
{{/if}}
