<div class="forum-block title-fix">
  <h1>Q: {{question.content}}</h1>
  <p>"{{question.notes}}"</p>
  Username: {{question.author}}
</div>


{{#each question.answers as |answer|}}
<ul>
  <li class="display-none"></li>
  <li class="forum-block"><strong>A: {{answer.content}}</strong> <br> Username: {{answer.author}}</li>
  <li class="display-none"></li>
</ul>
{{/each}}
