{{#if updateQuestionForm}}
  <h4>Edit the question "{{question.content}}"</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="content">Title:</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>

      <div class="form-group">
        <label for="note">Question:</label>
        {{input value=note id="note" placeholder=question.note}}
      </div>

      <div class="form-group">
        <label for="author">Username:</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <button class="btn btn-default"{{action 'updateQuestion' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-sm btn-default" {{action 'updateQuestionForm'}}>Edit Question</button>
{{/if}}
