<h1 class="title-fix"> Welcome to Blahoo Answers! </h1>

On this site, you may ask any question you wish and receive answers from people around the world.

<h2>Current Questions:</h2>

<ul class="container">
  {{#each model.questions as |question|}}
    <li class="display-none"></li>
    <li class="forum-block">{{#link-to 'question' question.id}}{{question.content}}{{/link-to}} ({{question-popularity question}}) <br> Username: {{question.author}}</li>
    <li class="display-none"></li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

{{display-favorites}}
